.vscode/**
.vscode-test/**
.gitignore
samples/**
client/out/**/*.d.ts
client/out/**/*.map
client/src/**
client/tsconfig.json
client/node_modules/**
client/yarn.lock
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/semver/**
server/out/**/*.d.ts
server/out/**/*.map
server/src/**
server/tsconfig.json
server/yarn.lock
server/node_modules/@types/**
server/node_modules/**/*.d.ts
server/node_modules/**/*.map
CHANGELOG.md
tsconfig.json
yarn.lock
vsc-extension-quickstart.md
tslint.json
*.vsix